/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  text-align: center;
  font-size: 14px;
}
.ccbp-heading {
  text-align: center;
  color: #2b237c;
  font-size: 20px;
}
